body{
    background: #f8f8f8;
    color: #333;
}
/*标题*/
.h2{
    line-height: 85px;
    width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
}
.h2 .bright{
    margin: 0 10px;
}

/*导航*/
.nav-center{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
    background: #fff;
    clear: both;
}
.nav-center .list1{
    display: block;
    font-size: 16px;
    font-weight: normal;
}
.nav-center .list1 .classify{
    line-height: 50px;
    color: #a9a9a9;
    float: left;
    display: inline-block;
    width: 100px;
    padding: 0 10px;
    text-align: right;

}
.classify-list{
    line-height: 50px;
}
.classify-list span{
    font-size: 16px;
    padding: 0 10px;
}

/*服务*/
.service-center{
    margin: 0 auto;
    margin-top: 10px;
    width: 1200px;
    position: relative;
}
.left{
    float: left;
    width: 960px;
    text-align: center;
}
.centerleft{
    /*width: 960px;*/
    /*float: left;*/
    /*margin-bottom: 50px;*/
    border: 1px solid #e5e5e5;
    background: white;
}
.service-center .centerleft h3{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-weight: normal;
    font-size: 14px;
    color: #e5e5e5;
    background: #fff;
    margin: 0;
    overflow: hidden;
}
.service-center .centerleft h3 span{
    font-size: 16px;
    margin: 0 20px;
    color: #121212;
    padding-bottom: 16px;
}
.paihang .activity{
    border-bottom: 4px solid #fb474f;
    color: #fb474f;
}
.paihang span img{
    margin-left: 5px;
    /*vertical-align: middle;*/
}
.spanright{
    float: right;
    color: #121212;
}
.service-center .centerleft .spanright span{
    font-size: 12px;
}
#page,#pages{
    margin: 0;
}
#page{
    color: #e84b47;
}
.spnright span.greycolor{
    color: #929292;
}
.service-center .centerleft .spanright span.pageup,.service-center .centerleft .spanright span.pagedown{
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e5e5e5;
    margin-left: 12px;
    margin-right: 10px;
    cursor: pointer;
    padding-bottom: 0;
}
/*列表*/
.pic{
    width: 138px;
    height: 138px;
    border: 1px solid #e5e5e5;
    margin: 30px;
    float: left;
    vertical-align: middle;
}
.ctop{
    border-bottom: 1px solid #e5e5e5;
    height: 200px;
}
.spm{
    float: left;
    position: relative;
    top: 25px;
    text-align: left;
}
.spm>span{
    display: block;
    line-height: 42px;
    height: 42px;
}
.spm .s_1{
    font-size: 18px;
    color: #1d1515;
}
.spm .s_2{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #929292;
}
.spm .s_3{
    font-size: 20px;
    color: #fc545e;
    font-weight: 700;
}
.spm .s_3 b{
    font-size: 14px;
}
.oldpic{
    font-size: 14px;
    color: #898989;
    margin-left: 40px;
    font-weight: normal;
    text-decoration: line-through;
}
.navtxt img{
    margin-right: 5px;
    vertical-align: middle;
}
.navtxt b{
    font-weight: normal;
    color: #929292;
    font-size: 14px;
    margin-left: 0;
    margin-right: 15px;
}
.spf {
    float: right;
    margin: 20px 60px 0 0;
}
.quickly {
    width: 60px;
    text-align: center;
    height: 30px;
    border: 1px solid #ff7871;
    line-height: 15px;
    font-size: 12px;
    border-radius: 6px;
    margin-left: 20px;
    position: relative;
    left: 20px;
}
.quickly span {
    display: block;
    height: 15px;
    font-weight: normal;
    color: #ff7871;
}
.quickly .q-f{
    background: #ff7871;
    color: white;
}
.quickly .q-s{
    background: white;
}
/*右侧*/

.centerright {
    width: 230px;
    float: right;
    position: relative;
    margin-left: 0;
}
.rightct {
    width: 230px;
    border: 1px solid #e5e5e5;
    background: #fff;
    text-align: center;
}
.rightct h3 {
    font-size: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    line-height: 60px;
    margin: 0;
    text-align: left;
}
.fuwishang {
    height: 200px;
    background: #fff;
    cursor: pointer;
}
.fuwishang img{
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 30px 50px;
    margin-bottom: 10px;
    vertical-align: middle;
}
.fuwishang p{
    text-align: center;
    margin-bottom: 6px;
    margin-top: 0;
    font-weight: bold;
    padding: 0 10px;
    line-height: 36px;
    font-size: 16px;
}
.rightct p.pline {
    border-bottom: 1px solid #e5e5e5;
    margin: 0 10px;
    padding: 0 10px;
    font-size: 14px;
    height: 47px;
    line-height: 47px;
}
.rightct p.pline span {
    color: #929292;
    font-weight: normal;
}
/*分页*/
.pagination{
    margin-top: 50px;
    margin-bottom: 50px;
}
.pagination li{
    display: inline-block;

    margin: 0 5px;
}
.pagination li a{
    font-size: 14px;
    color: #121212;
    font-weight: normal;
}
.pagination li a:hover{
    background: #fe454a;
    color: #fff;
}
.foot{
    width: 100%;
    background: white;
    clear: both;
}
