body{
    background: #f8f8f8;
    color: #333;
}
/*标题*/
.h2{
    line-height: 85px;
    width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
}
.h2 .bright{
    margin: 0 10px;
}
.centerleft{
    width: 960px;
    float: left;
}
.ctop{
    height: 220px;
    border: 1px solid #e5e5e5;
    background: #fff;
}
.pic{
    border: 1px solid #e5e5e5;
    margin: 30px;
    float: left;
    width: 160px;
    height: 160px;
}
.spm {
    float: left;
    position: relative;
    top: 25px;
}
.spm span{
    display: block;
    line-height: 42px;
    height: 42px;
    font-weight: normal;
}
.s_1{
    font-size: 18px;
    color: #1d1515;
}
.s_2,.s_3{
    font-size: 14px;
}
.s_2>b{
    font-size: 20px;
    color: #fc545e;
    margin-left: 10px;
}
.s_2>em{
    color: #fc545e;
    font-style: normal;
    font-weight: bold;
}
.s_2 .oldpic{
    font-size: 14px;
    color: #898989;
    margin-left: 40px;
    font-weight: normal;
}
.s_2 .oldpic em{
    font-style: normal;
    text-decoration: line-through;
}
.s_3 .yishou{
    color: #fb474f;
    margin-left: 10px;
    font-style: normal;
}
