.all-category-wrapper {
    line-height: 85px;
    width: 1200px;
    margin: 0 auto;
    font-size: 18px;

}
.all-category {
    float: left;
    font-weight: 600;
}
.all-category span {
    cursor: pointer;
}
.all-category .move {
    color: #fb4e55;
    font-weight: 600;

}
.all-category .gt {
    margin: 0 10px;
    font-weight: normal;
}
.navcenter {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
    background: #fff;
    clear: both;
}
.navheader {
    line-height: 50px;
    width: 1200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.navheader li {
    display: inline-block;
    font-size: 16px;
}
.navheader .classify {
    color: #a9a9a9;
    display: inline-block;
    width: 100px;
    padding: 0 10px;
    text-align: right;
    margin-right: 25px;
}
.navheader li:not(.classify) {
    padding:0 10px;
}
.navcenter .red {
    color: #e84b47;
}
/********主体*******/
.service-center {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.cneter-left {
    width: 960px;
    float: left;
    margin-bottom: 50px;
    background: pink;
}
.center-left .recommend {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border: 1px solid #eaeaea;
    font-weight: normal;
    font-size: 14px;
    color: #e5e5e5;
    background: #fff;
    margin: 0;
    overflow: hidden;
}

.rank span img {
    width: 12px;
    height: 7px;
    margin-left:5px;
}
.rank span {
    font-size: 16px;
    margin: 0 20px;
    color: #121212;
    padding-bottom: 16px;
    cursor: pointer;
}
.rank .activity {
    border-bottom: 4px solid #fb474f;
    color: #fb474f;
}
